@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  body {
    overflow-x: hidden;
  }
  
  body {
    position: relative;
    width: 100%;
  }
}

body{
  background: radial-gradient(circle at 10% 20%, rgba(216, 241, 230, 0.46) 0.1%, rgba(233, 226, 226, 0.28) 90.1%);
}


@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@layer utilities {
  
  .nav_ul {
    @apply flex flex-col sm:flex-row gap-16;
  }

  .nav_li {
    @apply max-sm:bg-blue-100 max-sm:w-full sm:hover:scale-110 tracking-wide max-sm:rounded-full max-sm:py-2 max-sm:px-4 transition-all duration-300 ease-in-out;
  }

  .navSideBar {
    @apply absolute left-0 right-0 top-20 bg-gradient-to-tr from-blue-50 to-blue-100 transition-all duration-500 ease-in-out overflow-hidden rounded-b mx-auto;
  }

  /* START of Typography */

  .h1 {
    @apply text-[60px] font-black leading-[84px] tracking-[-0.03em];
  }

  /* price */
  .h1-small {
    @apply text-[55px] font-black leading-[84px] tracking-[-0.03em];
  }

  /* hero */
  .h2 {
    @apply text-[64px] font-black leading-[64px];
  }

  .h3 {
    @apply text-[48px] font-extrabold leading-[56px] tracking-[-0.02em];
  }

  .h4 {
    @apply text-[40px] font-semibold leading-[52px];
  }

  .que {
    @apply text-[24px] font-medium leading-[36px] mb-4 break-words;
  }

  .body-1 {
    @apply text-[22px] leading-[36px] tracking-[-0.03em];
  }

  .hero_sub_head {
    @apply md:text-3xl md:w-[550px] md:relative md:font-thin lg:text-xl lg:top-0 lg:left-0 lg:tracking-tight lg:leading-normal lg:w-96 2xl:text-lg 2xl:leading-normal 2xl:w-[280px] max-[320px]:p-2;
  }

  .hero_img{
    @apply xl:mt-10 xl:scale-150 xl:mr-32 2xl:mr-20 2xl:scale-110 2xl:mt-14
  }

  .hero_ball {
    @apply xl:top-16 xl:ml-20 xl:h-96 xl:w-96 max-xl:hidden 2xl:top-16
  }

  .month_btn {
    @apply z-10 rounded-full p-2 w-60 hover:scale-110 transition-all duration-500 ease-in-out
  }

  .slide_month_btn {
    @apply bg-blue-700 rounded-xl before:h-96 absolute left-2 top-1 h-[calc(120%-20px)] w-[calc(50%-8px)] overflow-hidden transition-transform duration-500;
  }

  .blue-highlight-with-line {
    @apply inline-block relative text-blue-600
  }

  .blue-highlight-with-line {
    background-image: url('assets/text-blue-highlight.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-bottom: 0.2em; /* Adjust this value to control the space between text and underline */
  }

  .hero_btn {
    @apply bg-blue-200 rounded-3xl lg:rounded-full h-10 w-24 z-10 md:h-20 md:w-32 md:text-2xl lg:border-2 lg:text-xl lg:h-10 lg:w-28 font-thin;
  }

  .hero-img_res {
    @apply max-lg:-top-40 max-lg:left-[calc(50%-280px)] max-lg:w-[1160px] max-md:bottom-[-520px] max-md:left-[calc(20%-520px)] max-md:top-auto md:left-[calc(60%-300px)] md:top-16;
  }

  @media (min-width: 425px) and (max-width: 768px) {
    .hero-img_res {
      left: calc(35% - 500px);
    }
  }

  .faq-icon {
    @apply before:absolute before:h-0.5 before:w-3 before:bg-white before:content-[''] after:absolute after:h-0.5 after:w-3 after:rotate-90 after:bg-white after:transition-all after:duration-500 after:content-[''];
  }

  .footer_txt {
    @apply gap-4 md:gap-20 xl:gap-16 2xl:gap-32 max-md:left-5 max-lg:-bottom-[44em] md:-bottom-[62em] xl:-bottom-[48em] 2xl:-bottom-[42em];
  }
}


  
